body{
    margin: 0;
}

.App{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 500px;
    background-color: rgb(254, 254, 254);
}
.boton{
    color:white;
   
}